.dsp-container{
    width: 100vw;
    min-height: 92vh;
    max-height: auto;
    background-color: var(--darkblack);
    display: flex;
}

#dsp-input{
    width: 320px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    border:2px solid var(--gray);
    background-color: var(--darkblack);
    color: var(--white);
    outline: none;
}
.dsp-leftcon{
    width: 28vw;
    height: 70vh;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    border: 3px solid var(--gray);
    border-radius: 10px;
    margin-top: 50px;
    position: sticky;
    top: 110px;
    overflow-x: hidden;
}


#dsp_programs_sidebar_h{
    color: var(--orange);
    font-size: 2rem;
    font-weight: 600;
    margin-left: 70px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#copybtn{
    color: var(--orange);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.dsp-rightcon{
    width: 72vw;
    height: auto;
    /* background-color: #f38787; */
    /* border: 3px solid red; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.dsp-rightcon-1{
    width: 68vw;
    height: auto;
    /* border: 3px solid rgb(231, 192, 192); */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.dsp-rc-1headingcon p{
    font-size: 1.6rem;
    color: var(--orange);
    font-weight: 500;
    margin: 20px 1px;


}
.dsp-right-prgmcon{
    width: 60vw;
    background-color: #020202;
    height: auto;
    border-radius: 25px;
    border: none;
    color: var(--white);
    padding: 10px 40px 20px 40px;
    font-size: 1.1rem;
    box-sizing: border-box;
    overflow-x: auto;
}

.dsp-rc-1headingcon{
    width: 57vw;
}

.dsp-right-outputcon{
    width: 60vw;
    background-color: #020202;
    height: auto;
    border-radius: 25px;
    border: none;
    color: var(--white);
    padding: 15px 40px;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin-bottom: 25px;
    overflow-x: auto;

}
.dspmobimaincon{
    display: none;
}
.nav-escape-box-pmobi{
    display: none;
}
.nav-escape-box-Pmoni{
    display: block;
    height: 11vh;
    background-color: var(--darkblack);
    width: 100vw;
}

@media only screen and (max-width: 700px){
    .dsp-leftcon{
        display: none;
    }
    .dspmobimaincon{
        display: block;
    }
    .dsp-rightcon{
        width: 95vw;
        margin-top: 25px;
    }
    .dsp-rightcon-1{
        width: 100vw;
        justify-content: center;
    }
    .dsp-right-prgmcon{
        width: 95vw;
        border-radius: 30px;
        padding: 8px 30px;
        font-size: 1rem;
        box-sizing: border-box;
        overflow-x: scroll;
        margin-left: 10px;
    }
    .dsp-right-outputcon{
        width: 95vw;
        border-radius: 40px;
        padding: 8px 30px;
        font-size: 1rem;
        box-sizing: border-box;
        margin-bottom: 25px;
        margin-left: 10px;
        overflow-x: scroll;
    }
    .dsp-rc-1headingcon{
        width: 90vw;
    }

    .dspmobimaincon{
        /* background-color: #774343; */
        background-color: var(--darkblack);
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .dsp-rc-1headingcon p{
        font-size: 1.3rem;
        color: var(--orange);
        font-weight: 500;
        margin: 10px 1px 20px 15px;
    
    }
    #dspprgmmenubtn{
        width: 250px;
        height: 45px;
        background-color: #fff;
        border: none;
        background-color: var(--darkblack);
        color: var(--white);
        border: 3px solid var(--orange);
        font-size: 1.2rem;
        font-weight: 500;
        padding: 5px;
        border-radius: 2px;
    }
    .dsp-mobicon-2{
        margin-top: 10px;
    }
    .nav-escape-box-Pmoni{
        display: none;
            }
    .nav-escape-box-pmobi{
        display: block;
        height: 11vh;
        background-color: var(--darkblack);
        width: 100vw;
    }


}