@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto+Slab:wght@300;400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
  color: #ffffff;
}

.MainCon{
  position: relative;
  width: 100vw;
  overflow: hidden;
  }
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkblack);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray);
}

.Hcontainer{
  width: 100vw;
  height: 90vh;
  display: flex;
  background-color: var(--violet);
  flex-wrap: wrap;
  /* new changes */
  padding-top: 10vh;
}
.Hleftcon{
  width: 50vw;
  height: 90vh;
  /* background-color: #902fdf; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 2px solid white;
  box-sizing: border-box; */
}

.Hrightcon{
  width: 50vw;
  height: 90vh;
  /* background-color: #802121; */
  display: flex;
  justify-content: center;
  align-items: center;


  /* border: 2px solid rgb(6, 240, 220);
  box-sizing: border-box; */
}

.Hleftcon-1 h1{
 font-size: 2.8rem;
 line-height: 55px;
}

.Hleftcon-1 p{
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 35px;
  word-spacing: 9px;
}

.explore-btn{
  padding: 0.2rem 1.7rem;
  border: 2px solid #f16522;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 15px 0px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}
.explore-btn:hover{
  background-color: #f16522;
}

/* images realted css */
.planet-img{
  position: absolute;
  width: 700px;
  height: 572px;
  top: -246px;
  right: -252px;
  opacity: 0.3;
}
.newgas1{
  position: absolute;
    width: 400px;
    height: 646px;
    bottom: -58px;
    right: -100px;
    opacity: 0.5;
}
.newgas2{
  position: absolute;
    width: 872px;
    height: 714px;
    top: -238px;
    left: -25px;
    opacity: 0.5;
}


.panel{
  position: relative;
  width: 450px;
  height: 550px;
  animation: bounce 2s ease infinite;
}
.cmimg{
  width: 50px;
  height: 50px;
}
.img1{
  position: relative;
  top: -493px;
  left: -65px;
  animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
}
.img2{
  position: relative;
  top: -395px;
  left: -135px;
  animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
}
.img3{
  position: relative;
  top: -574px;
  left: -1px;
    animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
}
.img4{
  position: relative;
  top: -306px;
  left: 311px;
  animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
}
.img5{
  position: relative;
  top: -203px;
  left: 245px;
  animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
}
.img6{
  position: relative;
  top: -101px;
    left: -84px;
  animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
}
.img7{
  position: relative;
  top: -31px;
    left: -5px;
  animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
}


.Hrightcon-bundle{
  height: 500px;
  width: 450px;
}

.manbundle{
  position: relative;
    top: -322px;
    left: -51px;
    animation: bouncepacimg 4s ease infinite;
}

.man-img{
  position: relative;
    top: 0;
    left: 0;
    width: 103px;
}
.man-head{
  position: relative;
    top: -142px;
    left: -31px;
    width: 58px;
    z-index: 1;
}
.right-hand{
  position: relative;
    top: -75px;
    left: -88px;
    width: 117px;
}
.right-leg{
  position: relative;
  top: 93px;
  left: -372px;
  width: 65px;
}
.left-leg{
  position: relative;
  top: 22px;
  width: 91px;
  left: -351px;
}


/* animations */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(-8px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bouncepacimg {
  0% {
    transform: translateY(0);
    /* opacity: 0; */
  }
  25% {
    transform: translateY(-7px);
  }
  50% {
    /* opacity: 1; */
    transform: translateY(-12px);
  }
  75% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
    /* opacity: 1; */
  }
}
@keyframes disapper {
  0%,
  15%,
  30% {
    opacity: 0;
  }
  40%,
  60%,
  80%,
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 780px) {
  .Hleftcon{
    width: 100vw;
    height: 40vh;
    z-index: 1;
  }
  .Hrightcon{
    width: 100vw;
    height: 50vh;
  }

  .Hleftcon-1 h1{
    font-size: 2rem;
    line-height: 35px;
   }
   
   .Hleftcon-1 p{
     font-size: 1.2rem;
     font-weight: 300;
     line-height: 22px;
     word-spacing: 5px;
   }
   
   .Hrightcon-bundle{
    height: 365px;
    width: 200px;
  }

  .manbundle{
    position: relative;
      top: -322px;
      left: -51px;
      /* animation: bouncepacimg 4s ease infinite; */
  }

  .explore-btn{
    background-color: var(--orange);
    font-weight: 600;
    border-radius: 10px;
    box-shadow: rgba(255, 94, 0, 0.877) 1.95px 1.95px 2.6px;
    width: 130px;
    height: 40px;
   }



   /* images related css */
   
  .planet-img{
    position: absolute;
    width: 500px;
    height: 372px;
    top: -146px;
    right: -252px;
    opacity: 0.3;
  }
  .newgas1{
    position: absolute;
      width: 400px;
      height: 646px;
      bottom: -58px;
      right: -100px;
      opacity: 0.5;
  }
  .newgas2{
    position: absolute;
      width: 672px;
      height: 614px;
      top: -338px;
      left: -225px;
      opacity: 0.5;
  }
  .panel{
    position: relative;
    width: 200px;
    height: 300px;
  }
  .cmimg{
    width: 40px;
    height: 40px;
  }
  .img1{
    position: relative;
    top: -300px;
    left: -59px;
    animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
  }
  .img2{
    position: relative;
    top: -240px;
    left: -85px;
    animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
  }
  .img3{
    position: relative;
    top: -305px;
    left: -22px;
      animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
  }
  .img4{
    position: relative;
    top: -170px;
    left: 92px;
    animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
  }
  .img5{
    position: relative;
    top: -100px;
    left: 42px;
    animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
  }
  .img6{
    position: relative;
    top: -78px;
      left: 108px;
    animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
  }
  .img7{
    position: relative;
    top: -99px;
      left: 5px;
    animation: bouncepacimg 5s ease infinite, disapper 6s ease-in-out infinite;
  }

  .man-img{
    position: relative;
      top: 70px;
      left: 20px;
      width: 70px;
  }
  .man-head{
    position: relative;
      top: -30px;
      left: 1px;
      width: 35px;
      z-index: 1;
  }
  .right-hand{
    position: relative;
      top: 17px;
      left: -36px;
      width: 80px;
  }
  .right-leg{
    position: relative;
    top: 40px;
    left: -31px;
    width: 40px;
  }
  .left-leg{
    position: relative;
    top: 1px;
    left: -20px;
    width: 51px;
  }
}

/* @media screen and (max-width: 375px) {

  .Hrightcon-bundle{
    height: 340px;
    width: 200px;
  }
} */